<html>
<head>
	<script type="text/javascript" src="/public/js/jquery-latest.min.js"></script>

	<script type="text/javascript" src="/public/js/alpaca-full.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/alpaca.min.css">

	<title>LittleDictionary</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">LittleDictionary</a>
    </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
					<li ><a href="/">View</a>
					<li class="active"><a href="/add">Add</a></li>
					<li><a href="/find">Find</a></li>
				</ul>
		</div>
	</nav>
	<div id="status-message" class="alert col-xs-12 .col-md-8" role="alert"></div>
	<div id="mainForm"></div>
	<script type="text/javascript">
		$(function() {
	    $("#mainForm").alpaca({
	        "dataSource": "/public/forms/add/data.json",
	        "optionsSource": "/public/forms/add/options.json",
	        "schemaSource": "/public/forms/add/schema.json",
	        
	        "postRender": function(control) {
		        $("#save-button").click(function () {

              var thestr = JSON.stringify(control.getValue());
              // submit via ajax
              $.ajax({
								type: "POST",
								cache: false,
								url: "/word/add",
								data: thestr,
								success: function (dataobj, state, jqxhr) {
                  $("#status-message")
                  	.text("Word inserted !")
                  	.removeClass('alert-danger')
                  	.addClass('alert-success');
                },
                error: function (jqxhr, state, err) {
                	$("#status-message")
                		.text("Word already exists !")
                		.removeClass('alert-success')
                		.addClass('alert-danger');
                }
              });
              return false;
            });
			    }
	    });
		});
	</script>
</body>
</html>