<html>
<head>
	<script type="text/javascript" src="/public/js/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/public/js/alpaca-full.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/alpaca.min.css">

	<title>LittleDictionary</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">LittleDictionary</a>
    </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
					<li ><a href="/">View</a>
					<li><a href="/add">Add</a></li>
					<li class="active"><a href="/find">Find</a></li>
				</ul>
		</div>
	</nav>
	<div id="mainForm"></div>
	<script type="text/javascript">


		$(function() {

	    $("#mainForm").alpaca({
	        "dataSource": "/public/forms/find/data.json",
	        "optionsSource": "/public/forms/find/options.json",
	        "schemaSource": "/public/forms/find/schema.json",
	        "postRender": function(control) {
		        $("#find-button").click(function () {

              var thestr = JSON.stringify(control.getValue());
              // submit via ajax
              $.ajax({
								type: "POST",
								cache: false,
								url: "/words/filter",
								data: thestr,
								success: function (dataobj, state, jqxhr) {

                  var attach = $('#results');
									attach.html("");
									var lines = '<tr >' +
									'<th>Word</th>'+
									'<th>Pos</th>'+
									'<th>Definition</th>'+
									'<th>Language</th>'+
									'<th>Example</th>'+
									'<th>Ethymology</th>'+
									'<th>Delete</th>'+
									'</tr>';

									data = JSON.parse(dataobj);

									if(!data.Words){
									$("#status-message")
			          		.html("Your Dictionary is Emtpy, click <a href='/add'>Here</a> to begin feeding it !")
			          		.addClass('alert-info');
			          		return;
									} else {
										$("#status-message").hide();
									}

									data.Words.forEach(function(o){
										if(o.Word == "" || !o.Word){
											return;
										}

										var example = o.Example || "";
										var ethymology = o.Ethymology || "";

										var line = '<tr>' +
											'<td >'+o.Word+'</td>' +
											'<td >'+o.Pos+'</td>' +
											'<td >'+o.Definition+'</td>' +
											'<td >'+o.Language+'</td>' +
											'<td >'+example+'</td>' +
											'<td >'+ethymology+'</td>' +
											'<td >x</td>'+
											'</tr>';
										lines += line;
									});
									attach.html(lines);
									$("#status-message")
										.text('Words found')
										.addClass('alert-success')
										.show();
                },
                error: function (jqxhr, state, err) {
                	$("#status-message")
                		.text("No Results !")
                		.addClass('alert-info')
                		.show();
                	$('#results').html("");
                }
              });
              return false;
            });
			    }
	    });
		});
	</script>
	<div class="panel panel-default">
		
  	<div id="status-message" role="alert" class="alert" style="display:none">
  		
  	</div>

		<table class="table table-bordered table-responsive" id="results">
		
		</table>
	</div>
		
	</table>
</body>
</html>