<html>
<head>
	 <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <title>LittleDictionary</title>
	<title>LittleDictionary</title>
</head>
<body >
	<div class="container-fluid">
    {{ range $key, $value := . }}
      <ul class="vertical-center" style="position: absolute; top: 45%; width: 400px;
         left: 0;
         text-align: center;
         bottom: 0;
         right: 0;
         margin: auto; ">
        <li class="list-group-item list-group-item-success">{{$value.Word}}</li>
        <li class="list-group-item list-group-item-info">{{$value.Pos}}</li>
        <li class="list-group-item list-group-item-warning">{{$value.Definition}}</li>
        {{ if $value.Ethymology }}
        <li class="list-group-item list-group-item-warning">{{$value.Ethymology}}</li>
        {{end}}
        {{ if $value.Example }}
        <li class="list-group-item list-group-item-warning">{{$value.Example}}</li>
        {{end}}
      </ul>
    {{ end }}
  </div>

</body>
</html>